body {
    background-color: #000;
    color: #FFD700;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8; /* Opacidad de fondo */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    width: 300px;
}

.form-header h2 {
    text-align: center;
    margin: 0 0 20px;
    color: #FFD700;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #444;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: #FFD700;
    transition: background-color 0.3s ease;
}

input:focus {
    background-color: #555;
    outline: none;
}

button {
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFA500;
}

input:focus,
button:hover {
    transform: scale(1.05);
}

input,
button {
    transition: transform 0.3s ease;
}

/* Estilos específicos para la página de login */

body {
    background-color: #000; /* Puede sobrescribir estilos generales para el fondo */
}

.form-container {
    background-color: #555; /* Puede sobrescribir estilos generales para el contenedor del formulario */
}

.login-button {
    background-color: #2196F3; /* Color de botón específico para login */
}
